rag-pineconeintegration.json
{"createdAt":"2025-09-27T07:52:31.306Z","updatedAt":"2025-10-07T05:48:50.000Z","id":"Nt80N57dmNwp6Em0","name":"RAG PineconeIntegration","active":true,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1ZkmJBI8SlhU3t2j2HgxQNVABr9aJRbIM","mode":"list","cachedResultName":"n8n-workflow","cachedResultUrl":"https://drive.google.com/drive/folders/1ZkmJBI8SlhU3t2j2HgxQNVABr9aJRbIM"},"event":"fileCreated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[0,0],"id":"72b4f885-17a0-4b7b-b5b0-79234bd8314c","name":"Google Drive Trigger","credentials":{"googleDriveOAuth2Api":{"id":"HhK0Wczw40B58Rrc","name":"Google Drive account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[208,0],"id":"2d20472c-4fb9-45d2-b043-88c39e2f62d2","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"HhK0Wczw40B58Rrc","name":"Google Drive account"}}},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"n8n-768dimension","mode":"list","cachedResultName":"n8n-768dimension"},"options":{"pineconeNamespace":"n8n-success"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.3,"position":[416,0],"id":"d7238426-b4af-4ae2-9b1c-731413d2cfdb","name":"Pinecone Vector Store","credentials":{"pineconeApi":{"id":"fm6PvqAJlyjW2PwG","name":"PineconeApi account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[416,208],"id":"9717e657-a3f0-40c6-be49-ae3212062f02","name":"Embeddings Google Gemini","credentials":{"googlePalmApi":{"id":"T8SQ68P7e6psOvkH","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"dataType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[624,208],"id":"258c7cb4-6096-4862-b22f-e2c8398771c6","name":"Default Data Loader"}],"connections":{"Google Drive Trigger":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Pinecone Vector Store","type":"main","index":0}]]},"Embeddings Google Gemini":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Pinecone Vector Store","type":"ai_document","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Google Drive Trigger":{"lastTimeChecked":"2025-10-07T11:40:16Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b0f274ad-5ffa-4fcb-8c3e-ab278f9beb1f","triggerCount":1,"shared":[{"createdAt":"2025-09-27T07:52:31.323Z","updatedAt":"2025-09-27T07:52:31.323Z","role":"workflow:owner","workflowId":"Nt80N57dmNwp6Em0","projectId":"opAfM2EXW5Wd8wiq","project":{"createdAt":"2025-09-19T11:49:58.440Z","updatedAt":"2025-09-19T11:51:29.386Z","id":"opAfM2EXW5Wd8wiq","name":"Ratan Tiwari <ratantiwari2003@gmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-09-19T11:49:58.440Z","updatedAt":"2025-09-19T11:49:58.440Z","userId":"5784b262-0be6-4745-ad37-ee4c9f42cce0","projectId":"opAfM2EXW5Wd8wiq","user":{"createdAt":"2025-09-19T11:49:57.171Z","updatedAt":"2025-10-07T11:40:25.000Z","id":"5784b262-0be6-4745-ad37-ee4c9f42cce0","email":"ratantiwari2003@gmail.com","firstName":"Ratan","lastName":"Tiwari","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-19T11:51:54.236Z","personalization_survey_n8n_version":"1.111.1","automationGoalDevops":["data-syncing"],"companyType":"saas","role":"it"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"yxovsSZPPEuZVL9i","userActivatedAt":1758968705543,"npsSurvey":{"responded":true,"lastShownAt":1759816131212}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-10-07","isPending":false}}]}}],"tags":[]}